

.basket-image{
    background-image: url(../../images/cart-128.png);
    height:128px;
    width:128px;
    position: relative;
    margin:10px;
}

.item-number{
    background: red;
    display: inline;
    padding: 5px 8px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    color: white;
    font-weight: bold;
}